@import './variables.scss';

$horizontal-padding: 16px !default;
$font-size: 14px !default;
$height: 36px !default;

$border-color: #000 !default;
$border-width: $my-border-width !default;
$border-radius: 4px !default;

$icon-button-horizontal-padding: 13px !default;
$icon-button-circular-padding: 11px !default;
